body {
  background: url(../img/bg.jpg);
  
}

.buttons li {
  margin-left: 50;
  float: left;
  list-style: none;
  text-align: center;
  background-color: #fff455;
  margin-right: 30px;
  width: 150px;
  line-height: 60px;
  border-radius: 25px;
  
}

#student{
  margin left: 500px;
}

.buttons li a:hover {
  text-decoration: none;
  color: #000000;
  background-color: #33B5E5;
  transition-duration: .5s;
}
